

html, body {
    height:100vm;
    width:100vm;
    /* остальные стили  */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs'  preserveAspectRatio='none' viewBox='0 0 1800 1000'%3E%3Cg mask='url(&quot;%23SvgjsMask1002&quot;)' fill='none'%3E%3Crect width='1800' height='1000' x='0' y='0' fill='url(&quot;%23SvgjsLinearGradient1003&quot;)'%3E%3C/rect%3E%3Cpath d='M -508.2764650438223,295 C -388.28,353.8 -148.28,573.8 91.72353495617767,589 C 331.72,604.2 451.72,371.8 691.7235349561777,371 C 931.72,370.2 1051.72,607.4 1291.7235349561777,585 C 1531.72,562.6 1790.07,270.4 1891.7235349561777,259 C 1993.38,247.6 1818.34,474.2 1800,528' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -317.16252405197906,745 C -197.16,659.4 42.84,336.2 282.83747594802094,317 C 522.84,297.8 642.84,682 882.8374759480209,649 C 1122.84,616 1242.84,174.8 1482.837475948021,152 C 1722.84,129.2 2019.4,529.8 2082.837475948021,535 C 2146.27,540.2 1856.57,249.4 1800,178' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -135.92051395175037,774 C -15.92,678.4 224.08,285.6 464.07948604824963,296 C 704.08,306.4 824.08,823.8 1064.0794860482497,826 C 1304.08,828.2 1424.08,314.8 1664.0794860482497,307 C 1904.08,299.2 2236.9,763.8 2264.0794860482497,787 C 2291.26,810.2 1892.82,495.8 1800,423' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -743.5097074935506,163 C -623.51,291.8 -383.51,787.2 -143.5097074935507,807 C 96.49,826.8 216.49,307 456.4902925064493,262 C 696.49,217 816.49,603.2 1056.4902925064494,582 C 1296.49,560.8 1507.79,112.6 1656.4902925064494,156 C 1805.19,199.4 1771.3,670.4 1800,799' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -666.7545897926108,386 C -546.75,411.2 -306.75,559 -66.75458979261082,512 C 173.25,465 293.25,117.8 533.2454102073892,151 C 773.25,184.2 893.25,673.4 1133.245410207389,678 C 1373.25,682.6 1599.89,195.2 1733.245410207389,174 C 1866.6,152.8 1786.65,492.4 1800,572' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -543.2816657186474,384 C -423.28,469.8 -183.28,824.6 56.71833428135253,813 C 296.72,801.4 416.72,377.8 656.7183342813526,326 C 896.72,274.2 1016.72,574.6 1256.7183342813526,554 C 1496.72,533.4 1748.06,202.6 1856.7183342813526,223 C 1965.37,243.4 1811.34,569.4 1800,656' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -518.0708540259528,865 C -398.07,788.2 -158.07,543 81.92914597404715,481 C 321.93,419 441.93,620.4 681.9291459740472,555 C 921.93,489.6 1041.93,140 1281.929145974047,154 C 1521.93,168 1778.31,619.2 1881.929145974047,625 C 1985.54,630.8 1816.39,271.4 1800,183' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -566.4351370033886,822 C -446.44,752.6 -206.44,491.4 33.56486299661143,475 C 273.56,458.6 393.56,776.6 633.5648629966114,740 C 873.56,703.4 993.56,282 1233.5648629966115,292 C 1473.56,302 1720.28,810.8 1833.5648629966115,790 C 1946.85,769.2 1806.71,308.4 1800,188' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -235.79903845412218,342 C -115.8,443.8 124.2,880.8 364.2009615458778,851 C 604.2,821.2 724.2,254.8 964.2009615458778,193 C 1204.2,131.2 1324.2,551.8 1564.2009615458778,542 C 1804.2,532.2 2117.04,119 2164.200961545878,144 C 2211.36,169 1872.84,562.4 1800,667' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -138.64519108539236,826 C -18.65,752.2 221.35,514 461.35480891460764,457 C 701.35,400 821.35,608 1061.3548089146077,541 C 1301.35,474 1421.35,70.2 1661.3548089146077,122 C 1901.35,173.8 2233.63,769.2 2261.3548089146075,800 C 2289.08,830.8 1892.27,380.8 1800,276' stroke='rgba(51, 121, 194, 0.58)' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1002'%3E%3Crect width='1800' height='1000' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='11.11%25' y1='-20%25' x2='88.89%25' y2='120%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(174, 180, 188, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: #fff;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
  background:#000;
  width: 100%;
  color: #fff;
  flex-shrink: 0;
}
.footer .p{
  margin-left:5px;
}

.header{
  background:#000;
  width:100%;
  color:#fff;
  padding: 1px;
}
.description{
  color:#000;
  font-size:15px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.hero-description{
  font-size:2vw;;
  font-weight: 900;
}
.hero-description-red{
  font-size:2vw;;
  font-weight: 900;
  color:white;
}

div.menu{
   float: right;
   margin-top:40px;
}
.nav ul{
  padding-top:5px;
}
.nav ul, li {
  list-style: none;
  display: inline;
  padding:5px;
}

.nav ul, li a{
 color:#fff;
}
a:hover {
  border-bottom: 1px solid red;
}

.content{
  display: flex;
  justify-content: space-between;

}

.form{
  width: 25%;
  margin-top:40px;
}

.left{
  width: 25%;
}

.ship{
  padding-top:10px;
  padding-left:100px;
}
#cookie_note{
    display: none;
    position: fixed;
    bottom: 5px;
    right: 0px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_note p{
    margin: 0;
    font-size: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.cookie_accept{
    width:30%;
}
@media (min-width: 576px){
#cookie_note.show{
    display: flex;
    }
}

@media (max-width: 575px){
#cookie_note.show{
    display: block;
    text-align: left;
    }
}

